### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Player Count

In [335]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

* Display the total number of players

In [336]:
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [337]:
df["SN"].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [338]:
item_num = df["Item ID"].nunique()
ave_price = df["Price"].mean()
number_of_purchases = df["Purchase ID"].count()
total_revenue = df["Price"].sum()
gender = df["Gender"].count()

In [339]:
# Create a dataframe to demonstrate grouping

raw_dict = {"Number of Unique Items": [item_num], "Average Price": [ave_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]}
analysis_df = pd.DataFrame(raw_dict)

#analysis_df["Average Price"] = analysis_df["Average Price"].map("${:.2f}".format)
#analysis_df["Total Revenue"] = analysis_df["Total Revenue"].map("${:.2f}".format)

analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [340]:
gender = df["Gender"].count()

#number_of_purchases = df["Purchase ID"].count()

In [341]:
# Create a dataframe to demonstrate grouping

raw_dict = {"Gender": [gender]}
analysis_df = pd.DataFrame(raw_dict)
#df["Price"] = df["Price"].map("${:.2f}".format)
#df.head()

analysis_df

   Gender
0     780

In [342]:
players_by_gender = analysis_df['Gender'].value_counts()
players_by_gender_df = pd.DataFrame(players_by_gender)

In [343]:
# Display the total number of players
num_players = df.count()[0]
gender_totals = df["Gender"].value_counts()
gender_percents = gender_totals / num_players
gender_demographics = pd.DataFrame({"Total Count": gender_totals, "Percentage of Players": gender_percents})

gender_demographics

                       Total Count  Percentage of Players
Male                           652               0.835897
Female                         113               0.144872
Other / Non-Disclosed           15               0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [344]:
# Purchase count
gender_purchase_count = df.groupby(["Gender"]).count()["Purchase ID"]

# Average purchase price
gender_average_price = df.groupby(["Gender"]).mean()["Price"]

# Total purchase value
gender_purchase_value = df.groupby(["Gender"]).sum()["Price"]

# Average total purchase per person
gender_average_total = gender_purchase_value / gender_demographics['Total Count']

In [345]:
# Create and display a summary data frame using above values
gender_data = pd.DataFrame({'Purchase Count': gender_purchase_count.map('{:,}'.format),
                           'Average Purchase Price': gender_average_price.map('${:,.2f}'.format),
                           'Total Purchase Value': gender_purchase_value.map('${:,.2f}'.format),
                           'Avg Total Purchase per Person': gender_average_total.map('${:,.2f}'.format)})

gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [346]:
# Create new dataframe
age_demographics = df[["Age","SN"]].drop_duplicates()

# Create bins in which data will be held. Bins are broken into 4 yrs (i.e. <10, 10-14, 15-19, etc.)
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]

# Create the names for the bins
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize the existing players using the age bins 
age_demographics["Age Group"] = pd.cut(age_demographics['Age'], age_bins, labels=group_names)

In [347]:
# Total count
age_count = age_demographics["Age Group"].value_counts()

# Percentage of players
age_percentage = np.round(age_count / gender * 100, decimals=2)

# Create and display summary data frame
age_demographics = pd.DataFrame({'Total Count': age_count, 'Percentage of Players': age_percentage})
age_demographics.sort_index()

       Total Count  Percentage of Players
<10             17                   2.18
10-14           22                   2.82
15-19          107                  13.72
20-24          258                  33.08
25-29           77                   9.87
30-34           52                   6.67
35-39           31                   3.97
40+             12                   1.54

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [348]:
# Run basic calculations:

# Purchase count
#purchase_count = analysis_df.groupby(['Age Group']).count()['Purchase ID']

# Avg purchase price
#avg_price = analysis_df.groupby(['Age Group']).mean()['Price']

# Total purchase value
#total_value = analysis_df.groupby(['Age Group']).sum()['Price']

# Avg total purchase per person
#avg_per_player = total_value / age_demographics['Total Count']

In [349]:
#analysis_df["Age Group"] = pd.cut(analysis_df["Age"], age_bins, labels=group_names)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [350]:
# Purchase count
spender_count = analysis_df.groupby(["SN"]).count()["Purchase ID"]

# Avg purchase price
spender_average = analysis_df.groupby(["SN"]).mean()["Price"]

# Total purchase value
spender_total = analysis_df.groupby(["SN"]).sum()["Price"]

KeyError: 'Purchase ID'

In [351]:
# Purchase count
spender_count = analysis_df.groupby(["SN"]).count()["Purchase ID"]

# Avg purchase price
spender_average = analysis_df.groupby(["SN"]).mean()["Price"]

# Total purchase value
spender_total = analysis_df.groupby(["SN"]).sum()["Price"]

KeyError: 'Purchase ID'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [353]:
item_data = analysis_df.loc[:,["Item ID", "Item Name", "Price"]]
item_data.head()

KeyError: "None of [Index(['Item ID', 'Item Name', 'Price'], dtype='object')] are in the [columns]"

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80